@font-face{
font-family:'daxlinepro-light' ;
src: url(Font/daxlinepro-light.ttf);
}

@font-face{
font-family:'DaxlinePro-Bold.ttf';   
src: url(Font/DaxlinePro-Bold.ttf);
}

@font-face{
font-family:'DaxlinePro-Medium.ttf';   
src: url(Font/DaxlinePro-Medium.ttf);
}

@font-face{
font-family:'DaxlinePro-Regular.ttf';   
src: url(Font/DaxlinePro-Regular.ttf);
}

@font-face{
font-family:'daxlinepro-extrabold.ttf';
src: url(Font/daxlinepro-extrabold.ttf);
}

*{
margin: 0px;
padding: 0;
box-sizing: border-box; 
} 

body{
overflow-x: hidden;
}

section{
width: 100%;
display: flex;
flex-direction: column; 
}

header{
/* position: fixed; */
width: 100%;
/* padding: 30px 100px; */
display: flex;
justify-content: space-between; 
align-items: center;
background-color: white;

}

header .navigation a{
color: #535252;
text-decoration: none;
font-weight: 500; 
letter-spacing: 1px;
/* padding: 2px 15px; */
font-size:18px;
font-family:'DaxlinePro-Regular.ttf';  
/* margin-right: -3%; */
}

header .navigation a:not(:last-child){
margin-right: 40px;
} 

.navigation{
width: 40%;
}


/* header .navigation a:hover{
color: green;
}  */

.logo{
width: 233.75px;
height: 85px;
margin-left: 3%;
}

.navbutton{
height: 40px;
width: 30%;
left: 0px;
top: 0px;
color: #374B43;
background-color: #DEEA87;
font-style: normal;
font-size: 18px;
font-weight: 700;
padding: 10px 20px;
border-radius: 10px;
border: none;
line-height:22px ;
font-family:'DaxlinePro-Regular.ttf';  
/* margin-left: 30%; */
margin-left: 2%;
}

.navbutton:hover{
color: #ffffff;
background-color: #054828;
} 

.hamburger{
display: none;
}

.check{
display: none;
}

.overlay {
position: absolute; 
width: 100%; 
height: 100%; 
top: 85px;
left: 0;
right: 0;
bottom: 0;
/* background-color: hsl(163, 75%, 37%); */
background-color: hsla(153, 91%, 13%, 0.771);
cursor: pointer; 
}

.overlayman{
position: absolute; 
width: 30%; 
height: 100%; 
top: 85px;
left: 60%;
right: 0;
bottom: 0;
background-color: hsla(62, 93%, 50%, 0.247); 
cursor: pointer; 
transform: skewX(20deg);

}

.hero{
width:100%;
height: 100vh;
background-image: url(./Image/manslide.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

} 

.info h2{
width: 90%;
font-size: 49px;
font-family:'DaxlinePro-Bold.ttf';
margin-top: 18%;
margin-left: 5%;
color: #FAFAFA;
text-align: center;
}

.info span{
font-family:'daxlinepro-extrabold.ttf';
font-size: 50px;
}

.sliderr{
margin-left: 85%;
margin-top: 15%;
}

.hero-btn{
color: #374B43;
background: #DEEA87;
text-decoration: none;
padding: 10px 100px;
border-radius: 10px;
margin-left: 40%;
position: relative;
top: 15%; 
font-size: 20px;
font-family:'DaxlinePro-Regular.ttf';  
}

.info2{
   display: none;
}

.info3{
   display: none;
}



.hero .hero-btn:hover{
background: #054828;
color: #ffffff;
}

.votercontainer h3{
text-align: center;
margin-top: 2rem;
}

.votecontainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
justify-content: space-around;
height: 80vh;
padding: 5%;

}

.votercontainertextdiv h4{
font-family:'DaxlinePro-Bold.ttf';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150.8%;
color: #374B43;

}

 .improve,.secure,.Integrations,.election{
width: 40%;
display: flex;
flex-direction: column;
padding: 2px;
/* justify-content: space-between; */
} 

.improveimg,.Integrationsimg,.electionimg,.secureimage{
height: 80px;
width: 80px;
border-radius:40px ;
align-items: center;
justify-content:center ;
display: flex;
} 

.improveimg img,.secureimage img,.Integrations img,.election img{
width: 60%;
}

.votercontainertextdiv{
width: 70%;
font-family:'DaxlinePro-Regular.ttf';  
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150.8%;
color: #535252;   
} 


.shapeone{
padding: 5px;
width: 200px;
height: 200px;
margin-left: 300px;
margin-top: 15px;
border-radius: 70px;
background-color: #DEEA87;
transform: matrix(-0.20, -0.99, 0.99, -0.20, 0, 0);

}

.shapetwo{
padding: 5px;
width: 200px;
height: 200px;
position: absolute;
right: 300px;
margin-top: 160px;
border-radius: 70px;
background-color: #DEEA87;
transform: matrix(-0.20, -0.99, 0.99, -0.20, 0, 0);

}

.shapecontainer{
display: flex;
justify-content: space-evenly;
margin-right: 9%;
}


.democontainer{
background-color:#F6F6F6;
padding: 2px;
margin-top: 20px;
width: 100%;
height: 500px;
}

.demobox{
width: 600px;
height: 300px;
border: 5px solid #FFFFFF;
padding: 5px;
background-color: #8081815F;
position: relative;
top: 40px;
right: 205px;
border-radius: 41px;
box-shadow: 0px 3px 6px #00000029;
}

.demotext{
text-align: center;
margin-top: 50px;
font-size: 18px;
font-family:'DaxlinePro-Bold.ttf';
color: #374B43;
}

iframe{
   position: relative;
   bottom: 22px;
   right: 5px;
   border-radius: 36px;
   
} 

.demolink{
}

.linetwo{
height:2px;
width:38%;
background-color:#51DD11;
margin-top: 9%;
margin-left: -43%;
} 

.linecontainer{
display: flex;
font-family:'DaxlinePro-Medium.ttf';
margin-top: 8%;
margin-left: 8%;
color: #374B43;
font-size: 25px;
} 

#castavote{
color: #374B43;
font-family:'DaxlinePro-Bold.ttf';
font-size: 35px;
   
}

.features{
width:100%;
height: 100vh;
background-image: url(./Image/square\ bgd.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.firstrow{
   display: flex;
   justify-content: space-around;
   margin-left: 8%;
   margin-top: 4%;
}

.firstrow h4,.secondrow h4{
   color: #18A67E;
   font-size: 22px;
   position: relative;
   bottom: 10px;
   font-family:'DaxlinePro-Bold.ttf';  
}

.secondrow{
   display: flex;
   justify-content: space-around;
   margin-left: 8%;
   margin-top: 6%;
}

.firstrowtxt{
width: 70%;
font-family:'DaxlinePro-Regular.ttf';  
font-style: normal;
font-size: 16px;
line-height: 150.8%;
color: #808181;   
}

.chuksalexcontainer{
display: flex;
height: 85vh;
background-color: #18A67E;
width: 100%;
}

.chuksaleximg{
/* background-image:url(./Image/chuksalex.png); */
width:40%;
height: 80%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-top: 5%;
} 

.chuksdiv{
display: flex;
flex-direction: column;
justify-content: center;
width:50%;
padding: 0% 4%; 
}

#chukimg{
   width: 39rem;
}

.chukstxt{
font-family:'DaxlinePro-Bold.ttf';
font-size: 35px;
text-align: left;
width:50vw;
color: #FFFFFF;
margin-top:-3% ;
}

.chukstext{
font-family:'DaxlinePro-Regular.ttf'; 
font-size: 20px;
margin-top: 5%;
color: #FFFFFF;
}

 

.chuksbtn{
color:#374B43 ;
background: #DEEA87 ;
text-decoration: none;
border-radius: 5px;
width:200px;
height: 40px;
margin-top: 10%;
border: none;
font-family:'DaxlinePro-Regular.ttf'; 
}

.chuksbtn:hover{
background: green;
color: #FFFFFF;
}

.enterprise{
width:100%;
height: 20vh;
/* background-image:linear-gradient(hsla(61, 36%, 51%, 0.58)),url(./Image/yellowsquare.svg); */
background-image: url(./Image/yellowsquare.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
/* z-index: 0; */
/* overflow-y: hidden; */
} 

 #overlayenterprise{
position: relative;
width: 100%; 
height: 50vh; 
/* left: 0;
right: 0;
bottom: 0; */
background-color: #aeaf5494;
cursor: pointer; 
z-index: 0; 
}     

.lineenterprise{
/* display: flex; */
margin-top: 8%;
margin-left: 40%;
color: #ffffff;
}

.lineenterprisediv{
padding: 5px;
background-color: #054828;
color: #FFFFFF;
width: 350px;
height: 40px;
text-align: center;
border-radius: 10px;
margin-bottom: 10%;
font-family:'DaxlinePro-Regular.ttf'; 
}

.lineenterprise2{
height: 5px;
width: 80%;
margin-top: -10%;
margin-left: -15%;
background-color:#ffffff;
border-radius: 2px;
}

.sassb2bdiv{
display: flex;
justify-content: space-around;
/* z-index: 99;  */
}

.startbtn{
background-color: #ffffff;
color:#374B43 ;
text-decoration: none;
border-radius: 5px;
width: 160px;
height: 40px;
border: 1px solid #18A67E;
margin-top: 15%;
margin-left: 30%;
font-family:'DaxlinePro-Regular.ttf'; 
}

   /* .startbtn:hover{
   background-color: green;
   } */
   
   /* .getbtn:hover{
      background-color: green;
   } */
   
.getbtn{
background-color: #ffffff;
color:#374B43 ;
text-decoration: none;
border-radius: 5px;
width: 160px;
height: 40px;
border: 1px solid;
margin-top: 33%;
margin-left: 30%;
border-color: #18A67E;
font-family:'DaxlinePro-Regular.ttf'; 
}


.sass{
width: 30%;
height: 70vh;
border-radius: 10px;
padding: 5px;
box-shadow: 0px 16px 40px rgba(117, 142, 254, 0.25);
margin-left: 15%;
margin-top: 2%;
}

#sassh4{
font-size: 30px;
margin-left: 15%;
margin-top: 20%;
font-family:'DaxlinePro-Regular.ttf';
color: #054828;
}

#sassh4:hover{
color: #ffffff;
}


.sasstext{
margin-left:15% ;
margin-top: 5% ;
color:#808181;
font-family:'DaxlinePro-Regular.ttf';
font-size: 16px;
}

.sasstext:hover,#b2btxt:hover{
color:#FFFFFF;
}
   
#saastxt{
margin-top:5% ;
}

.sass:hover,.B2b:hover{
border: 1px solid #004A00;
background-color: #18A67E;
}

#b2btxt{
margin-left:15% ;
margin-top: 5% ;
color:#808181;
font-family:'DaxlinePro-Regular.ttf';
font-size: 16px;
}

.B2b{
width: 30%;
height: 70vh;
border-radius: 10px;
padding: 5px;
box-shadow: 0px 16px 40px rgba(117, 142, 254, 0.25);
margin-right: 15%;
margin-top: 2%;
} 

#B2bh4{
font-size: 30px;
margin-left: 15%;
margin-top: 20%;
font-family:'DaxlinePro-Regular.ttf';
color: #054828;
}

#B2bh4:hover{
color: #ffffff;
}

.clientsdiv{
background-color: #004A00;
padding: 10%;
width: 100%;
position: relative;
top: 350px;
} 

.clientscontainer{
   display: flex;
   margin-left: 10%;
}

.clientsdiv h1{
font-size: 40px;
text-align: left;
color: #ffffff;
font-family:'DaxlinePro-Bold.ttf';
}

.clientsdiv span{
color: #DEEA87;
font-size: 42px;
font-family:'DaxlinePro-Bold.ttf';
}

.clientsdiv h3{
color: #ffffff;
position: relative;
left: 50%;
bottom: 20%;
font-family:'DaxlinePro-Regular.ttf';
font-size: 25px;
}

.clientsdiv p{
color: #ffffff;
position: relative;
left: 50%;
bottom: 22%;
width: 400px;
font-size: 17px;
font-family:'DaxlinePro-Regular.ttf';
}

.clientsdiv h5{
color:#DEEA87 ;
position: relative;
left: 98%;
bottom: 27%;
font-size: 12px;
font-family:'DaxlinePro-Regular.ttf';
}

.ellipse{
margin-left: 23%;
}

.left{
position: relative;
left: 50%;
bottom: 18%;
height: 8%;
border: none;
   
}

.right{
position: relative;
left: 50%;
bottom: 18%;
height: 8%;
border: none;
}

.clienttwo{
display: none;
}

.blogdiv{
margin-top: 27.5%;
width: 100%;
height: 1000px;
}

.linecontainerblog{
display: flex;
color: #DEEA87;
}

.linetwoblog{
height:2px;
width:30%;
background-color: #DEEA87;
margin-bottom: 30%; 
margin-left: 35%;
} 

.blogtext{
text-align: center;
margin-top: 5%;
}

.blogtext h2{
color: #374B43;
font-family:'DaxlinePro-Bold.ttf';
font-size: 28px;
}

.blogtext h5{
color: #374B43;
font-family:'DaxlinePro-Regular.ttf';
}

.blogtext span{
color: #374B43;
font-family:'DaxlinePro-Bold.ttf';
font-size: 20px;
}

.mandiv{
margin-top: -300px;
margin-left: 5%;
}

.commentman{
text-decoration: none;
color: #808181;
position: relative;
font-family:'DaxlinePro-Regular.ttf';
font-size: 14px;
}

#manimg{
width: 30%;
margin-top: 1%;
}

.commenttext{
   margin-top: 5px;
}

.containerdiv{
   margin-top: 30%;
}

.mandiv p{
color: #808181;
font-size: 18px;
font-family:'DaxlinePro-Regular.ttf';
}

.mandiv h3{
color: #18A67E;
font-size: 20px;
font-family:'DaxlinePro-Bold.ttf';
}

.mandiv h4,.mandiv h5{
color: #808181;
font-family:'DaxlinePro-Regular.ttf';
font-size: 12px;
}

#msgdiv{
margin-left: 20px;
}

#comment{
display: flex;
}

.guydiv{
margin-top: -317px;
margin-left: 38%;
}

.commentguy{
text-decoration: none;
color: #808181;
position: relative;
font-family:'DaxlinePro-Regular.ttf';
font-size: 14px;
}

#guyimg{
width: 48%;
}

.guydiv p{
color: #808181;
font-size: 18px;
font-family:'DaxlinePro-Regular.ttf';
}


.guydiv h3{
color: #18A67E;
font-size: 20px;
font-family:'DaxlinePro-Bold.ttf';
}

.guydiv h4,.guydiv h5{
color: #808181;
font-family:'DaxlinePro-Regular.ttf';
font-size: 12px;
}

#msgdivguy{
margin-left: 20px;
}

#commentguy{
display: flex;
}

.ladydiv{
margin-top: -330px;
margin-left: 70%;
}

.commentlady{
text-decoration: none;
color: #808181;
position: relative;
font-family:'DaxlinePro-Regular.ttf';
font-size: 14px;
}

#ladyimg{
width: 95%;
}

.ladydiv p{
color: #808181;
font-size: 18px;
font-family:'DaxlinePro-Regular.ttf';
}

.ladydiv h3{
color: #18A67E;
font-size: 20px;
font-family:'DaxlinePro-Bold.ttf';
}

.ladydiv h4,.ladydiv h5{
color: #808181;
font-family:'DaxlinePro-Regular.ttf';
font-size: 12px;
}

#msgdivlady{
margin-left: 20px;
}

#commentlady{
display: flex;
}

.Partner{
margin-top: 12%;
}

.linecontainerpartner{
margin-left: 45%; 
color: #374B43;
font-family:'DaxlinePro-Bold.ttf';
font-size: 20px;
}

.linetwopartner{
height:2px;
width:44%;
background-color: #DEEA87;
margin-top: 2%; 
margin-left: -7%;
} 

.partnerlogo{
display: flex;
justify-content: space-around;
margin-top: 30px;
}






/* footer */

footer{
background-color: #DFDFDF;
height: 63vh;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.logoandtext{
display: flex;
height: 70%;
justify-content: space-around;
align-items: center;
margin-top: -35px;
}

.logoimg img{
margin-top: -30px;
width: 233.75px;
height: 85px;
}

.infodiv h2{
color: #054828;
font-size: 22px;
font-family:'DaxlinePro-Bold.ttf';
}

.infodiv h4{
color: #374B43;
font-size: 14px;
font-family:'DaxlinePro-Regular.ttf';
}

.footerinfoicon{
display: flex;
}

.footerinfoicon h5{
color: #054828;
font-family:'DaxlinePro-Regular.ttf';
font-size: 12px;
}

#footerinfoicon img{
margin-right: 10px;
} 

#email{
margin-top: 10px;
}

#map{
margin-top: 10px;
}

#footerinfoicon h2{
color: #054828;
margin-top: 5px;
font-size: 22px;
margin-left: 20px;
font-family:'DaxlinePro-Bold.ttf';
}

.office h2{
color: #054828;
margin-top: 5px;
font-size: 22px;
margin-left: 1px;
font-family:'DaxlinePro-Bold.ttf';
}

.office p{
color: #374B43;
font-size: 14px;
font-family:'DaxlinePro-Regular.ttf';
}

.logoandtext p{
width: 251px;
height: 84px;
} 

.logoimg p{
margin-left:15%;
color: #374B43;
font-size: 12px;
font-family:'DaxlinePro-Regular.ttf';

} 

.facebookdiv,.twitterdiv,.instagramdiv,.pintrestdiv{
display: flex;
flex-direction: center;
align-items: center;
justify-content: space-around;
}

.smdiv{
width: 20%;
display: flex;
justify-content: space-around;
padding: 0%;
margin-left: 50px;
} 

.copyrightdiv{
font-family:'DaxlinePro-Regular.ttf';
font-size: 12px;
color: #374B43;
display: flex;
align-items: center;
}

.socialmediadiv{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 2%;
} 
































 /* .lineenterprise{
display: flex; */
/* justify-content: center;
align-items: center;
flex-direction: column; */
/* margin-top: 8%;
margin-left: 8%;
color: #374B43;
 } 

.lineenterprise2{
height:2px;
width:28%;
background-color:#51DD11;
margin-top: 7%;
margin-left: -26%;
} 

.chooseplan{
   height: 100vh;
   
   }
   
   
   .sassb2bdiv{
   display: flex;
   justify-content: space-around;
   }
   
   .startbtn{
   color:white ;
   background: #51DD11 ;
   text-decoration: none;
   border-radius: 5px;
   width: 160px;
   height: 40px;
   border: none;
   margin-top: 15%;
   margin-left: 30%;
   }
   
   .startbtn:hover{
   background-color: green;
   }
   
   .getbtn:hover{
      background-color: green;
   }
   
   .getbtn{
   color:white ;
   background: #51DD11 ;
   text-decoration: none;
   font-weight: 700;
   border-radius: 5px;
   width: 160px;
   height: 40px;
   border: none;
   margin-top: 33%;
   margin-left: 30%;
   }
   
   
   .sass{
   width: 30%;
   height: 65vh;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 0px 16px 40px rgba(117, 142, 254, 0.25);
   margin-left: 15%;
   margin-top: 5%;
   
   }
   
   #sassh4{
      font-size: 20px;
      margin-left: 15%;
      margin-top: 20%;
      font-weight: 900;
   }
   
   .sasstext{
   margin-left:15% ;
   margin-top: 5% ;
   }
   
   #saastxt{
   margin-top: 5% ;
   }
   
   .sass:hover,.B2b:hover{
      border: 1px solid #004A00;
   }
   
   #b2btxt{
      margin-top: 5%;
      margin-left:15% 
   }
   
   .B2b{
   width: 30%;
   height: 65vh;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 0px 16px 40px rgba(117, 142, 254, 0.25);
   margin-right: 15%;
   margin-top: 5%;
   } 
   
   #B2bh4{
   font-size: 20px;
   margin-left: 15%;
   margin-top: 20%;
   font-weight: 900;
   }

.enterprise{
width:100%;
height: 100vh;
background-image: url(./Image/yellowsquare.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
} 

.overlayenterprise {
position: absolute; 
width: 100%; 
height: 100%; 
top: 85px;
left: 0;
right: 0;
bottom: 0;
background-color: hsla(150, 74%, 19%, 0.38); 
 background-color: #DEEA87;
cursor: pointer; 
}   





























/* Media Query */ 
/* Media Query */
/* Media Query */


@media screen and (max-width:850px){
.hamburger {
display: inline-block;
}
.check {
display: none;
}
.hamburger i{
font-size: 2rem;
color:black;
transform: .3s;
}
.navigation{
position:fixed;
top: 0;
right: 0;
bottom: 0;
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
color:#ffffff;
background-color: white;
padding: 0.2rem ;
transform: translateX(100%);
z-index: 11;
transition: all .5s;
margin-top: 4.5rem;

}

.navigation a{
margin: 0.5rem;
border-bottom:1px solid #51DD11;
padding-bottom:0.5rem ;
}
.navigation a{
color: var(--white);
transition: all .3s;

}
.navigation a:hover{
margin: 1rem;
background-color: transparent;
color:#e5e2f9;


}

.navbutton{
/* align-self: center; */
margin: 0.5rem;
}

.navigation a::before{
display: none;
}
.navigation::after{
display: none;
}

/* SLIDE MENU WHEN THE HAMBURGER IS CLICKED */
#toggle:checked ~ .navigation {
transform: translate(0);
}

#toggle:checked ~ .hamburger i {
border: 1px solid black;
padding: .5rem;
border-radius: 5px;
transition: .5s;

}
.navigation {
text-align: center;
}
a {
text-align: center;
margin-left: 1rem;
font-size: .6rem;
}

.logo{
width: 40%;
}


}











































































































